<?xml version="1.0" ?>
<robot name="cube">
	<link name="base_link">
		<visual>
			<origin rpy="0 0 0.0" xyz="0 0 0"/>
      		<geometry>
                <box size="1 1 1"/>
      		</geometry>
            <material name="green">
                <color rgba="0.3 0.8 0.2 1"/>
            </material>
		</visual>
		<collision>
			<origin rpy="0 0 0.0" xyz="0 0 0"/>
      		<geometry>
                <box size="1 1 1"/>
      		</geometry>
		</collision>
		<contact>
			<friction_anchor/>
			<lateral_friction value="0.5"/>
			<spinning_friction value="0"/>
		</contact>
        <inertial>
			<origin rpy="0 0 0" xyz="0 0 0"/>
            <mass value="0.1"/>
            <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
        </inertial>
  	</link>
</robot>
